//html, body, div, span, applet, object, iframe,
//h1, h2, h3, h4, h5, h6, p, blockquote, pre,
//a, abbr, acronym, address, big, cite, code,
//del, dfn, em, img, ins, kbd, q, s, samp,
//small, strike, strong, sub, sup, tt, var,
//b, u, i, center,
//dl, dt, dd, ol, ul, li,
//fieldset, form, label, legend,
//table, caption, tbody, tfoot, thead, tr, th, td,
//article, aside, canvas, details, embed,
//figure, figcaption, footer, header, hgroup,
//menu, nav, output, ruby, section, summary,
//time, mark, audio, video {
//	margin: 0;
//	padding: 0;
//	border: 0;
//	font-size: 100%;
//	font: inherit;
//	vertical-align: baseline;
//}
///* HTML5 display-role reset for older browsers */
//article, aside, details, figcaption, figure,
//footer, header, hgroup, menu, nav, section {
//	display: block;
//}
//body {
//	line-height: 1;
//}
//ol, ul {
//	list-style: none;
//}
//blockquote, q {
//	quotes: none;
//}
//blockquote:before, blockquote:after,
//q:before, q:after {
//	content: '';
//	content: none;
//}
//table {
//	border-collapse: collapse;
//	border-spacing: 0;
//}
//

$h1: 60px;
$h2: 75px;
$h3: 26px;
$h4: 20px;
$p: 16px;

@font-face {
  font-family: 'Myriad Pro Light';
  font-style: normal;
  font-weight: lighter;
  src: local('Myriad Pro Light'), url('../fonts/myriadpro-light-opentype.otf') format('opentype');
}
body {
	text-align: center;
	font-family: "Myriad Pro Light", 'Droid Sans', sans-serif;
	font-weight: 200;
	background: #292638; /*rgb(41, 38, 56)*/
	color: white;
}
h1{font-size: $h1; font-weight: inherit; opacity: 1;}
h2{font-size: $h2; font-weight: inherit;
    color:#00a3f8;
    background: -webkit-linear-gradient(bottom left, #00a3f8, #8df0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{font-size: $h3; font-weight: inherit; opacity: 0.7;}
h4{font-size: $h4; font-weight: inherit; opacity: 0.6;}
p{font-size: $p; opacity: 0.7;}
.text-left{text-align: left}
.text-right{text-align: right}
.text-center{text-align: center}
.responsive{max-width: 100%; height: auto;}
button {
  background-color: Transparent;
  &:focus {
    outline: none;
  }
}
a {
  color: white;
  text-decoration: none;
  &:active {
    //text-decoration: none;
  }
  &:hover {
    color: #00a3f8;
  }
}
.paragraph {
  text-align: left;
  padding-right: 1%;
  padding-left: 1%;
}
input[type=submit] {
  width: 225px;
  height: 70px;
  margin: 30px auto 0;
  background-color: transparent;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, from(#00a3f8), to(#8df0ff)) 1;
  -webkit-border-image: -webkit-linear-gradient(right, #00a3f8, #8df0ff) 1;
  -moz-border-image: -moz-linear-gradient(right, #00a3f8, #8df0ff) 1;
  -o-border-image: -o-linear-gradient(right, #00a3f8, #8df0ff) 1;
  border-image: linear-gradient(to right, #00a3f8, #8df0ff) 1;
  color: white;
  display: block;
  padding: 1% 1%;
  cursor: pointer;
  &:hover {
    background-color: #292638;
  }
}
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navigation {
	position: absolute;
    top: 0;
	width: 100%;
    nav {
      max-width: 100%;
      margin: auto;
      padding-top: 2%;
      .logo{
        width: 60%;
        img{
          opacity: 0.7;
        }
      }
  }
}
.menu button {
	font-size: 42px;
	/*position: absolute;*/
	overflow: hidden;
	width: 250px;
	height: 35px;
	margin-top: -6px;
	border: 1px none;
    display: block;
    opacity: 0.7;
	border-bottom-style: solid;
    &:hover {
      color: #00a3f8;
      border: 1px none;
      border-bottom-style: solid;
    }
    &:last-child{
      padding-bottom: 15px;
    }
}
.btn-active{
  background-color: #161719;
  width: 100%;
  height: 265px;
  opacity: 1;
  .menu button{
	height: 40px;
	margin-top: -3px;
   }
}
.conference {
    background: url('../images/k2-generic-conf.jpg') no-repeat center;
    padding-top: 12%;
    padding-bottom: 5%;
    .intro {
      max-width: 800px;
      margin: auto;
      h4{margin: auto;}
      img{padding-top: 3%}
    }
}
.agenda {
	background: #383251; /*rgb(56, 50, 81)*/
    padding-bottom: 2%;
    padding-top: 2%;
    &:target{
      transition:all 1s ease;
    }
    .hours {
      color: #00a3f8;
      opacity: 1;
      background: -webkit-linear-gradient(#00a3f8, #8df0ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 48px;
      padding: 2% 30px 2% 0;
    }
    p {
      padding-left: 0.5em;
    }
    li:hover p, li:hover h4{
      opacity: 1;
    }
}
.program{
	text-align: left;
	padding: 0 30% 2% 28%;
    h4{
      margin-top: auto;
    }
    p{
      margin-bottom: 6%
    }
}
.speaker-bg {
	position: relative;
	background: no-repeat center;
	z-index: 100;
	height: 250px;
	white-space: nowrap;
	overflow: hidden;
    transition: background 0.3s ease-in, height 0.3s ease-out;
    -moz-transition: background 0.3s ease-in, height 0.3s ease-out;
    -webkit-transition: background 0.3s ease-in, height 0.3s ease-out;
    h3{
      margin-bottom: 0;
    }
    button{
      margin: 20px 0;
      background: url('../images/row.png') no-repeat center;
      padding: 15px;
    }
    & > div {
      box-sizing: border-box;
    }
    div:first-child {
      text-align: right;
    }
    div:last-child {
      text-align: left;
    }
    &:nth-child(even) div:last-child {
      padding-left: 15px;
    }
    &:nth-child(odd) div:first-child {
      padding-right: 15px;
    }
    .description {
      white-space: normal;
      font-size: 18px;
      opacity: 0;
      transition: opacity 0.1s ease-in;
      -moz-transition: opacity 0.1s ease-in;
      -webkit-transition: opacity 0.1s ease-in;
    }
}
.speaker-bg.active{
	height: 385px;
	background: white;
    color: black;
    .description{
      opacity: 1;
    }
    button{
      background: url('../images/cross.png') no-repeat center;
    }
}
.speaker-1{
  background-image: url('../images/teresa-bg.png');
}
.speaker-2{
  background-image: url('../images/pawel-bg.png');
}
.speaker-3{
  background-image: url('../images/mariusz-bg.png');
}
.speaker-4{
  background-image: url('../images/grzegorz-bg.png');
}
.speaker-5{
  background-image: url('../images/marek-bg.png');
}
.location{
  background: #236b9e; /*rgb(35, 107, 158)*/
  padding-top: 2%;
  padding-bottom: 2%;
  .map{
  position: relative;
  margin: auto;
  height: 600px;
  }
}
.contact{
  background: #363843;
  padding-top: 2%;
  padding-bottom: 3%;
  margin-top: -1%;
  h4{
    max-width: 675px;
    margin: auto;
    padding-bottom: 2%;
  }
  form{max-width: 695px; margin: 0 auto;}
  input[type=text], input[type=email], textarea{
    display: block;
    width: 100%;
    margin: 12px auto;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }
 input[type=text], input[type=email]{
    max-width: 435px;
 }
  label[for=tick]{
    text-align: left;
  }
   textarea{
     height: 150px;
     margin-top: 40px;
     width: 100%;
   }
}
@media screen and (min-width: 1824px){
  $md: 10;
  /*and (max-width: 1920px){*/
  h1{font-size: $h1 + $md;}
  h2{font-size: $h2 + $md;}
  h3{font-size: $h3 + $md;}
  h4 {font-size: $h4 + $md;}
  .hours{font-size: 48px;}
  p{font-size: $p + $md;}
  nav{padding-top: 2%;width: 100%;}
  .menu{width:10%;}
  .btn-active{
    height: 300px;
  }
}
@media screen and (min-width: 2210px) {
  .navigation {
    nav {
      padding-top: 2%;
      width: 100%;
      .logo {
        width: 50%;
      }
    }
  }
  .hours{font-size: 58px;}
}

@media screen and (max-width: 1440px){
  .intro h4{
    max-width: 70%;
    margin: auto;
  }
  .navigation{
    nav{
      .logo{width: 65%;}
      .menu{
        width: 20%;}
        button{
          font-size: 34px;
          width: 200px;
          height: 31px;
        }
    }
  }
  .btn-active{
    height: 245px;
    .menu button{
      height: 35px;
      margin-top: -2px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .btn-active {
    height: 215px;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    nav {
      img {
        float: left;
        padding-top: 20px;
        width: 35%;
      }
      .menu {
        width: 25%;
        float: right;
        padding-top: 3%;
        button {
          font-size: 26px;
          width: 150px;
          height: 22px;
          margin-top: 3px;
        }
      }
    }
  }
  .btn-active {
    height: 260px;
  }
  .intro {
    padding-top: 110px;
    h4 {
      max-width: 80%;
      margin: auto;
    }
  }
  .program {
    padding-left: 5%;
    padding-right: 1%;
  }
  .speaker-bg {
    height: 200px;
  }
}
@media screen and (max-width: 720px) {
  h1 {
    font-size: 50px;
  }
  .navigation {
    nav {
      img {
        width: 35%;
        margin-left: 4%;
      }
      .menu {
        width: 25%;
      }
    }
  }
  .speaker-bg {
    height: 200px;
    display: flex;
    div:first-child {
      float: left;
    }
    div:last-child {
      float: right;
    }
  }
}
@media screen and (max-width: 450px){
  $sm: 30;
  h1{font-size: $h1 - $sm;}
  h2{font-size: $h2 - $sm;}
  .navigation{
    nav{
      img{
        float: left;
        padding: 20px;
        width: 60%;
      }
      .menu{
        width: 40%;
        float: right;
        padding-top: 2%;
      }
    }
  }
  .btn-active {
    height: 230px;
  }
  .intro{
    padding-top: 110px;
  }
  .hours{font-size: 28px;}
  .speaker-bg {
    height: 200px;
    display: flex;
    div:first-child {
      float: left;
      width: 50%;
    }
    div:last-child {
      float: right;
      width: 50%;
    }
  }
}
@media screen and (max-width: 375px){
  $xs: 35;
  h1{font-size: $h1 - $xs;}
  h2{font-size: $h2 - $xs;}
  .navigation {
    nav {
      img {
        width: 60%;
      }
      .menu {
        width: 45%;
        button {
          font-size: 22px;
          width: 130px;
          height: 20px;
          margin-top: -1px;
        }
      }
    }
  }
}