@font-face {
  font-family: 'Myriad Pro Light';
  font-style: normal;
  font-weight: lighter;
  src: local("Myriad Pro Light"), url("../fonts/myriadpro-light-opentype.otf") format("opentype"); }

body {
  text-align: center;
  font-family: "Myriad Pro Light", 'Droid Sans', sans-serif;
  font-weight: 200;
  background: #292638;
  /*rgb(41, 38, 56)*/
  color: white; }

h1 {
  font-size: 60px;
  font-weight: inherit;
  opacity: 1; }

h2 {
  font-size: 75px;
  font-weight: inherit;
  color: #00a3f8;
  background: -webkit-linear-gradient(bottom left, #00a3f8, #8df0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

h3 {
  font-size: 26px;
  font-weight: inherit;
  opacity: 0.7; }

h4 {
  font-size: 20px;
  font-weight: inherit;
  opacity: 0.6; }

p {
  font-size: 16px;
  opacity: 0.7; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.responsive {
  max-width: 100%;
  height: auto; }

button {
  background-color: Transparent; }
  button:focus {
    outline: none; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: #00a3f8; }

.paragraph {
  text-align: left;
  padding-right: 1%;
  padding-left: 1%; }

input[type=submit] {
  width: 225px;
  height: 70px;
  margin: 30px auto 0;
  background-color: transparent;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, from(#00a3f8), to(#8df0ff)) 1;
  -webkit-border-image: -webkit-linear-gradient(right, #00a3f8, #8df0ff) 1;
  -moz-border-image: -moz-linear-gradient(right, #00a3f8, #8df0ff) 1;
  -o-border-image: -o-linear-gradient(right, #00a3f8, #8df0ff) 1;
  border-image: linear-gradient(to right, #00a3f8, #8df0ff) 1;
  color: white;
  display: block;
  padding: 1% 1%;
  cursor: pointer; }
  input[type=submit]:hover {
    background-color: #292638; }

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.navigation {
  position: absolute;
  top: 0;
  width: 100%; }
  .navigation nav {
    max-width: 100%;
    margin: auto;
    padding-top: 2%; }
    .navigation nav .logo {
      width: 60%; }
      .navigation nav .logo img {
        opacity: 0.7; }

.menu button {
  font-size: 42px;
  /*position: absolute;*/
  overflow: hidden;
  width: 250px;
  height: 35px;
  margin-top: -6px;
  border: 1px none;
  display: block;
  opacity: 0.7;
  border-bottom-style: solid; }
  .menu button:hover {
    color: #00a3f8;
    border: 1px none;
    border-bottom-style: solid; }
  .menu button:last-child {
    padding-bottom: 15px; }

.btn-active {
  background-color: #161719;
  width: 100%;
  height: 265px;
  opacity: 1; }
  .btn-active .menu button {
    height: 40px;
    margin-top: -3px; }

.conference {
  background: url("../images/k2-generic-conf.jpg") no-repeat center;
  padding-top: 12%;
  padding-bottom: 5%; }
  .conference .intro {
    max-width: 800px;
    margin: auto; }
    .conference .intro h4 {
      margin: auto; }
    .conference .intro img {
      padding-top: 3%; }

.agenda {
  background: #383251;
  /*rgb(56, 50, 81)*/
  padding-bottom: 2%;
  padding-top: 2%; }
  .agenda:target {
    transition: all 1s ease; }
  .agenda .hours {
    color: #00a3f8;
    opacity: 1;
    background: -webkit-linear-gradient(#00a3f8, #8df0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    padding: 2% 30px 2% 0; }
  .agenda p {
    padding-left: 0.5em; }
  .agenda li:hover p, .agenda li:hover h4 {
    opacity: 1; }

.program {
  text-align: left;
  padding: 0 30% 2% 28%; }
  .program h4 {
    margin-top: auto; }
  .program p {
    margin-bottom: 6%; }

.speaker-bg {
  position: relative;
  background: no-repeat center;
  z-index: 100;
  height: 250px;
  white-space: nowrap;
  overflow: hidden;
  transition: background 0.3s ease-in, height 0.3s ease-out;
  -moz-transition: background 0.3s ease-in, height 0.3s ease-out;
  -webkit-transition: background 0.3s ease-in, height 0.3s ease-out; }
  .speaker-bg h3 {
    margin-bottom: 0; }
  .speaker-bg button {
    margin: 20px 0;
    background: url("../images/row.png") no-repeat center;
    padding: 15px; }
  .speaker-bg > div {
    box-sizing: border-box; }
  .speaker-bg div:first-child {
    text-align: right; }
  .speaker-bg div:last-child {
    text-align: left; }
  .speaker-bg:nth-child(even) div:last-child {
    padding-left: 15px; }
  .speaker-bg:nth-child(odd) div:first-child {
    padding-right: 15px; }
  .speaker-bg .description {
    white-space: normal;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    -webkit-transition: opacity 0.1s ease-in; }

.speaker-bg.active {
  height: 385px;
  background: white;
  color: black; }
  .speaker-bg.active .description {
    opacity: 1; }
  .speaker-bg.active button {
    background: url("../images/cross.png") no-repeat center; }

.speaker-1 {
  background-image: url("../images/teresa-bg.png"); }

.speaker-2 {
  background-image: url("../images/pawel-bg.png"); }

.speaker-3 {
  background-image: url("../images/mariusz-bg.png"); }

.speaker-4 {
  background-image: url("../images/grzegorz-bg.png"); }

.speaker-5 {
  background-image: url("../images/marek-bg.png"); }

.location {
  background: #236b9e;
  /*rgb(35, 107, 158)*/
  padding-top: 2%;
  padding-bottom: 2%; }
  .location .map {
    position: relative;
    margin: auto;
    height: 600px; }

.contact {
  background: #363843;
  padding-top: 2%;
  padding-bottom: 3%;
  margin-top: -1%; }
  .contact h4 {
    max-width: 675px;
    margin: auto;
    padding-bottom: 2%; }
  .contact form {
    max-width: 695px;
    margin: 0 auto; }
  .contact input[type=text], .contact input[type=email], .contact textarea {
    display: block;
    width: 100%;
    margin: 12px auto;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black; }
  .contact input[type=text], .contact input[type=email] {
    max-width: 435px; }
  .contact label[for=tick] {
    text-align: left; }
  .contact textarea {
    height: 150px;
    margin-top: 40px;
    width: 100%; }

@media screen and (min-width: 1824px) {
  /*and (max-width: 1920px){*/
  h1 {
    font-size: 70px; }
  h2 {
    font-size: 85px; }
  h3 {
    font-size: 36px; }
  h4 {
    font-size: 30px; }
  .hours {
    font-size: 48px; }
  p {
    font-size: 26px; }
  nav {
    padding-top: 2%;
    width: 100%; }
  .menu {
    width: 10%; }
  .btn-active {
    height: 300px; } }

@media screen and (min-width: 2210px) {
  .navigation nav {
    padding-top: 2%;
    width: 100%; }
    .navigation nav .logo {
      width: 50%; }
  .hours {
    font-size: 58px; } }

@media screen and (max-width: 1440px) {
  .intro h4 {
    max-width: 70%;
    margin: auto; }
  .navigation nav .logo {
    width: 65%; }
  .navigation nav .menu {
    width: 20%; }
  .navigation nav button {
    font-size: 34px;
    width: 200px;
    height: 31px; }
  .btn-active {
    height: 245px; }
    .btn-active .menu button {
      height: 35px;
      margin-top: -2px; } }

@media screen and (max-width: 1024px) {
  .btn-active {
    height: 215px; } }

@media screen and (max-width: 768px) {
  .navigation nav img {
    float: left;
    padding-top: 20px;
    width: 35%; }
  .navigation nav .menu {
    width: 25%;
    float: right;
    padding-top: 3%; }
    .navigation nav .menu button {
      font-size: 26px;
      width: 150px;
      height: 22px;
      margin-top: 3px; }
  .btn-active {
    height: 260px; }
  .intro {
    padding-top: 110px; }
    .intro h4 {
      max-width: 80%;
      margin: auto; }
  .program {
    padding-left: 5%;
    padding-right: 1%; }
  .speaker-bg {
    height: 200px; } }

@media screen and (max-width: 720px) {
  h1 {
    font-size: 50px; }
  .navigation nav img {
    width: 35%;
    margin-left: 4%; }
  .navigation nav .menu {
    width: 25%; }
  .speaker-bg {
    height: 200px;
    display: flex; }
    .speaker-bg div:first-child {
      float: left; }
    .speaker-bg div:last-child {
      float: right; } }

@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 45px; }
  .navigation nav img {
    float: left;
    padding: 20px;
    width: 60%; }
  .navigation nav .menu {
    width: 40%;
    float: right;
    padding-top: 2%; }
  .btn-active {
    height: 230px; }
  .intro {
    padding-top: 110px; }
  .hours {
    font-size: 28px; }
  .speaker-bg {
    height: 200px;
    display: flex; }
    .speaker-bg div:first-child {
      float: left;
      width: 50%; }
    .speaker-bg div:last-child {
      float: right;
      width: 50%; } }

@media screen and (max-width: 375px) {
  h1 {
    font-size: 25px; }
  h2 {
    font-size: 40px; }
  .navigation nav img {
    width: 60%; }
  .navigation nav .menu {
    width: 45%; }
    .navigation nav .menu button {
      font-size: 22px;
      width: 130px;
      height: 20px;
      margin-top: -1px; } }
