ul, ol{
  display:inline-block;
  border: none;
  border-left: solid 1px #7F7C8F;
  opacity: 0.6;
}
ul.custom-bullet, ol.custom-bullet{
  list-style:none;
}
ul.custom-bullet > li:before, ol.custom-bullet > li:before {
  content:"";
  height:1.5em;
  width:2em;
  display:block;
  float:left;
  margin: 1em 0 0 -3.5em;
  background-position:center;
  background-repeat:no-repeat;
  background-size:100%;
}
ol.custom-bullet > li:before{
  text-align:center;
}
ul.dot > li:before{
  content:"";
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid meet'><circle cx='50' cy='50' r='25' fill='#383251' stroke='#7F7C8F' stroke-width='5'/></svg>");
}
ul.dot > li:hover:before{
  content:"";
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid meet'><circle cx='50' cy='50' r='25' fill='#7F7C8F' stroke='#7F7C8F' stroke-width='5'/></svg>");
}
ul.custom-bullet >li:hover:before, ol.custom-bullet > li:hover:before{
  height:3em;
  width:3em;
  margin: 0.25em 0 0 -4.0em;
}